language: erlang
before_install:
  - sudo apt-get install xsltproc
install: true
before_script:
  - wget https://s3.amazonaws.com/rebar3/rebar3
  - chmod +x rebar3
script:
  - ./rebar3 eunit
notifications:
  irc: "irc.freenode.org#billo"
  recipients:
    - eng@billo.systems
otp_release:
  - 19.2
  - 18.3
  - 17.5
  - R16B03
  - R15B03
