#(project (
  #(meta (
    #(name kanin)
    #(description "An LFE Wrapper for the Erlang RabbitMQ (AMQP) Client.")
    #(version "0.6.0")
    #(keywords ("LFE" "Lisp" "Library" "Utility" "Messaging" "AMQP" "RabbitMQ"))
    #(maintainers (
      (#(name "Odakotah LaBlanc") #(email "oda@billo.systems"))
      (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
    #(repos (
      #(github "lfex/kanin")))))
  #(deps (#("rvirding/lfe" "develop")))))
