{erl_opts, []}.

{deps, [
    lfe,
    {kla, "0.8.0-rc4"},
    {amqp_client, {git, "git@github.com:jbrisbin/amqp_client", {branch, "master"}}},
    {rabbit_common, {git, "git@github.com:jbrisbin/rabbit_common", {branch, "master"}}}
]}.

{plugins, [{'lfe-compile', "0.8.0-rc3", {pkg, rebar3_lfe_compile}}]}.

{provider_hooks, [
  {pre, [{compile, {lfe, compile}}]}
]}.
